n8n_direct_test.json
{
  "name": "Direct Backend Test - Inventory Insert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "direct-insert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-direct",
      "name": "Webhook Direct Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/productos",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"nombre_del_producto\": \"{{ $json.nombre || 'Producto Directo' }}\",\n  \"descripcion\": \"{{ $json.descripcion || 'Producto de prueba directo' }}\",\n  \"id_categoria\": 4,\n  \"precio_venta\": {{ $json.precio_venta || 100 }},\n  \"tarifa_renta\": {{ $json.tarifa_renta || 50 }},\n  \"imagen_portada\": null,\n  \"clave\": \"DIR-{{ Math.floor(Math.random() * 999) + 1 }}\",\n  \"stock_total\": 10,\n  \"stock_venta\": 5,\n  \"en_renta\": 0,\n  \"reservado\": 0,\n  \"en_mantenimiento\": 0,\n  \"marca\": \"Directo\",\n  \"modelo\": \"Test\",\n  \"material\": \"Acero\",\n  \"peso\": 15,\n  \"capacidad_de_carga\": 250,\n  \"largo\": 2.0,\n  \"ancho\": 1.2,\n  \"alto\": 0,\n  \"tipo_de_producto\": \"Venta y Renta\",\n  \"estado\": \"Activo\",\n  \"condicion\": \"Nuevo\"\n}"
      },
      "id": "direct-api-call",
      "name": "Direct API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Inserción directa exitosa\",\n  \"timestamp\": \"{{ Date.now() }}\",\n  \"input_data\": {{ $json }},\n  \"response\": {{ $json }}\n}"
      },
      "id": "direct-response",
      "name": "Direct Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Webhook Direct Test": {
      "main": [
        [
          {
            "node": "Direct API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct API Call": {
      "main": [
        [
          {
            "node": "Direct Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all"
  },
  "staticData": null
}
