n8n_test_simple.json
{
  "name": "Test Simple Inventory Insert - n8n",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-insert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-test",
      "name": "Webhook Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nombre_producto",
              "value": "={{ $json.nombre || 'Producto Test' }}"
            },
            {
              "name": "descripcion",
              "value": "={{ $json.descripcion || 'Producto de prueba desde n8n' }}"
            }
          ],
          "number": [
            {
              "name": "precio_venta",
              "value": "={{ $json.precio_venta || 100 }}"
            },
            {
              "name": "tarifa_renta",
              "value": "={{ $json.tarifa_renta || 50 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-test-data",
      "name": "Set Test Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "json_body",
              "value": "={\n  \"nombre_del_producto\": \"{{ $json.nombre_producto }}\",\n  \"descripcion\": \"{{ $json.descripcion }}\",\n  \"id_categoria\": 4,\n  \"precio_venta\": {{ $json.precio_venta }},\n  \"tarifa_renta\": {{ $json.tarifa_renta }},\n  \"imagen_portada\": null,\n  \"clave\": \"TEST-001\",\n  \"stock_total\": 10,\n  \"stock_venta\": 5,\n  \"en_renta\": 0,\n  \"reservado\": 0,\n  \"en_mantenimiento\": 0,\n  \"marca\": \"Test Marca\",\n  \"modelo\": \"Test Modelo\",\n  \"material\": \"Acero\",\n  \"peso\": 15,\n  \"capacidad_de_carga\": 250,\n  \"largo\": 2.0,\n  \"ancho\": 1.2,\n  \"alto\": 0,\n  \"tipo_de_producto\": \"Venta y Renta\",\n  \"estado\": \"Activo\",\n  \"condicion\": \"Nuevo\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-json",
      "name": "Prepare JSON Body",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/productos",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "sendBody": true,
        "body": "={{ $json.json_body }}"
      },
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Test realizado exitosamente\",\n  \"request_body\": {{ $json.json_body }},\n  \"response\": {{ $json }}\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Webhook Test": {
      "main": [
        [
          {
            "node": "Set Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Data": {
      "main": [
        [
          {
            "node": "Prepare JSON Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare JSON Body": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all"
  },
  "staticData": null
}
